<meta meta charset=utf-8/>
<div class="panel panel-default">	  
	<form name="form" class="form-horizontal"> 
	<div class="panel-body">	
	  <div class="form-group" >
	    <label class="control-label col-sm-2" for="email">Nombre</label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" maxlength="50" placeholder="Ingrese nombre de rol"  ng-model = "data.nombre" required/>	      
	    </div>
	  </div>
	  
	  
	   <div class="form-group" >
	    <label class="control-label col-sm-2" for="email">Descripcion</label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" placeholder="Ingrese descripcion de rol"  ng-model = "data.descripcion" required/>	      
	    </div>
	  </div>
	<div class="panel-footer text-right">
		<input type="button" class="btn btn-success" ng-click="guardar()" ng-disabled="form.$invalid" value="Guardar Registro"/>
	</div>
	</form>
</div>

<div class="panel panel-default" ng-init="listar()">
	<div class="panel-body">

		<table ng-table="userTable" class="table table-striped editable-table demoTable" show-filter="true" ng-form="tableForm"
		demo-tracked-table="tableTracker">
			 <colgroup>
	          <col width="10%" />
	          <col width="20%" />
	          <col width="45%" />
	          <col width="15%" />
	          <col width="10%" />
	  
	        </colgroup>
			<tr ng-repeat="role in $data"  ng-form="rowForm" demo-tracked-table-row="role" >
				<td class="text-center" title="'Id Role'">
					<label>{{role.idRole}}</label></td>
				<td class="text-left" title="'Nombre'">
					<label>{{role.nombre}}</label></td>
				<td class="text-left" title="'Descripcion'">
					<label>{{role.descripcion}}</label></td>
				<td class="text-center" title="'Usuario Ingreso'">
					<label>{{role.usuarioInsert}}</label></td>
				<td class="text-center" title="'Fecha Ingreso'">
					<label>{{role.fechaInsert | date:'dd/MM/yyyy'}}</label></td>
				<td class="text-center" title="'Editar'">			
				 <a style="cursor:pointer;" ng-click="editar(usuario)"><span class="fa fa-edit"></span></a>
				</td>
			</tr>
		</table>
	</div>

</div>